<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="HTML5 exsample" />
		<meta name="author" content="boku" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
		<title>ログインページ</title>
	</head>
	<body>
		<h1>ログイン</h1>
		<h2>ユーザー名を入力してください</h2>
		<form action="/menu" method="POST">
			<input type="text" name="username" style="border: solid 1px" />
			<td colspan="2"><input type="submit" value="ログイン" /></td>
		</form>
	</body>
</html>