<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="HTML5 exsample" />
		<meta name="author" content="boku" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css" />
		<title>メニュー</title>
	</head>
	<body>
		<h1>ようこそ{{.username}}</h1>
			<table>
				<form method="POST" action="/movieregister">
					<tr>
						<td colspan="2"><input type="submit" value="動画登録" /></td>
					</tr>
				</form>
				<form method="GET" action="/">
					<tr>
						<td colspan="2"><input type="submit" value="戻る" /></td>
					</tr>
				</form>
			</table>
	</body>
</html>